    <!--This where the Search Section goes-->
<form action="/action_page.php">
  <input placeholder="City or Zipcode" type="text" id="fname" name="fname">
  <input type= "date">
  <input placeholder= "Search for artist, venues, and events" type="text" id="lname" name="lname">
  <input type="submit" value="Submit">
</form>